.cards {
  display: flex;
	flex-wrap: wrap;
	margin-top : 40px;
}


.card {
	display: flex;
	align-items: center;
  justify-content: space-between;
 	padding: 20px;
  flex-basis: 300px;	
	flex-grow: 1;
	margin: 15px;
	box-shadow: 1px 2px 30px 4px rgba(0,0,0,0.1);
	border-radius: 7px;

}

.card img {
	width: 165px;
	border-radius: 7px;
	box-shadow: 1px 2px 30px 4px rgba(0,0,0,0.1);
}

.card h3 {
	flex-grow: 1;
	padding-left: 20px;
	font-size: 16px;
	font-weight: 600;
}

.card:not(:hover) > .display-after {
	display: none;
	transition: color 0.3s ease;
}

.card:hover > img {
	display: none;
}

.card:hover > .display-before {
	display: none;
}

.card:hover > .display-after {
	display: all;
	text-align: center;
	color: white;
}

.card-turn-black {
	height: 100px;
}

.card-turn-black:hover {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.4) 70%);
	animation: flip-animation 0.8s;
}


@keyframes flip-animation {
  0% {
 		background-image: none;
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    transform: scale(0.4) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
}