#profile-container {
	padding-top: 0%;
	text-align: center;
}

#profile-container h1, #profile-container h2 {
	color: #6b3434;
}

#profile-container img {
	display: block;
	margin: 5px auto;
}

#introduction {
	margin-top: 30px;
	margin-bottom: 60px;
}

#profile-container .cards {
	margin: auto 10px;
	padding: auto 20px;
	flex: wrap;
	justify-content: space-around;
}

#profile-container .cards .card {
	padding-left: 40px;
	margin: auto 20px;
	margin-bottom: 30px;
	height: 150px;
	flex-basis: 350px;
  	transform: translateZ(0);
  	position: relative;
  	transition: black 1000ms;
  	overflow: hidden;
  	justify-content: space-around;
}

#profile-container .cards .card:before {
	content: "";
  	position: absolute;
  	z-index: -1;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background: black;
  	transform: scaleX(0);
  	transition-property: transform;
  	transition: 1000ms ease-out;
}

#profile-container .cards .card:hover:before {
  	transform: scaleX(1);
}

#profile-container li {
	display: flex;
	text-align: left;
}
